<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">System</span></li>
            
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por1.jpg" rel="portfolio" title="Global I Exceed Management Sdn.Bhd, (Global) is an Authorized Master Agent for MBSB Bank Berhad (MBSB) for Personal-𝒊 and Mortgage Financing specializing in financial consultancy. https://mode.global-i.com.my/">
                        <img src="images/portfolio/por1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Global System </a>
                                <span class="text-category">Personal Loan System (MBSB) for Agent</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por2.jpg" rel="portfolio">

                        <img src="images/portfolio/por2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Art Insko</a>
                                <span class="text-category">Video Creation</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->
            
            
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por3.jpg" rel="portfolio">

                        <img src="images/portfolio/por3.jpg" alt="Malaysia authorities are doing cross reference with our reports.
We gives you details of used imported car past history together with average market value (if available) from the origin countries. (http://www.autocheck.marii.my/)" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Autocheck</a>
                                <span class="text-category">Autocheck Marii</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->
            
            
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por4.jpg" rel="portfolio">

                        <img src="images/portfolio/por4.jpg" alt="MBSB Financial Application System (MFAST) for Personal Financing is a new platform for MBSB Bank’s potential or existing customers to perform online financing application through internet wide access medium such as mobile phones, laptop, desktop and tablet at their convenience. 

Similarly, Financial Advisor will be able to reach out to customers without having the need to pass and obtain the physical application forms and other relevant documents from customers. (https://applyonline.mbsbjourney.com/PFI/)" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">MFAST MBSB</a>
                                <span class="text-category">MBSB Financial Application System (MFAST) for Personal Financing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->
            
            
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por6.jpg" rel="portfolio">

                        <img src="images/portfolio/por6.jpg" alt="
Malaysia
authorities are using our reports as cross reference. (http://insko.my/)" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Insko</a>
                                <span class="text-category">Insko Netxpert</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
