<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">System</span></li>
            
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por1.jpg" rel="portfolio" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet">
                        <img src="images/portfolio/por1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Global System </a>
                                <span class="text-category">Personal Loan System (MBSB) for Agent</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="images/portfolio/por2.jpg" rel="portfolio">

                        <img src="images/portfolio/por2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Art Insko</a>
                                <span class="text-category">Video Creation</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
